﻿body, TD {
    font-family: 'Segoe UI', Verdana
}

H1 {
    padding: .5em; padding-top: 0; font-weight: bold;
    font-size: 1.5em; border-bottom: 2px solid gray ;
}

DIV#content { 
    padding: .9em

}

TABLE.Grid TD, TABLE.Grid TH {
    border-bottom: 1px dotted  gray;
    text-align: left;
}
TABLE.Grid {
    border-collapse: collapse; width:100%;
}
TABLE.Grid TH.NumericCol, TABLE.Grid TD.NumericCol {
    text-align: right; padding-right: 1em;
} 
FORM {
    margin-bottom: 0px;
}
DIV.Message {background: gray; color:white; padding: .2em; margin-top: .25em;}

.field-validation-error {
    color: red; display: block;
}
.field-validation-valid {
    display: none;
}
.input-validation-error {
    border:1px solid red; background-color: #ffeeee;
}
.validation-summary-errors {
    font-weight: bold; color:red;
}
.validation-summary-valid {
    display:none;
}

.editor-field {margin-bottom: .8em}
.editor-label {font-weight: bold}
.editor-label:after {content: ":"}
.text-box {width: 25em;}
.multi-line {height: 5em; font-family: 'Segoe UI', Verdana;}